/* My custom style */
/* Font */
html, body, h1, h2, h3, h4, h5, h6, footer {
            font-family: 'Roboto', 'Titillium Web', sans-serif;
        }

body {
    overflow-x: hidden;
}

hr { 
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
} 

/* Horizontal center for images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

/* Custom sections styles */
#first {
    background-image: url("../img/banner1.png");
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-attachment: scroll;
    background-size: cover;

    /* transform: scale(1.3); */

    display: flex;
    overflow: hidden;

    padding-left: 6vh;
    padding-right: 4vh;
    padding-bottom: 40vh;
}

#second {
    background-image: url("../img/banner2.png");
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-attachment: scroll ;
    background-size: cover;
    /* height: 200vh; */
    display: flex;
    /* align-items: flex-start; */
    overflow: hidden;
    padding-top: 40vh;
    padding-bottom: 40vh;
}

#partnership {
    /* align-self: start; */
    padding-top: 8vh;
}

#lecturers {
    padding-bottom: 4vh;
    padding-left: 4vh;
    padding-right: 4vh;
}

#last {
    background-color: #0E1322;
    /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */

}



#logo{
    max-width: 160px;
    width: 100%;
    border: 0;
}