<!-- <div id="nav-border" class="container">
    <nav id="nav" class="nav justify-content-center">
    {{ range .Site.Menus.main }}
      {{ $icon := printf "<i data-feather=\"%s\"></i>" .Pre }}
      {{ $text := print $icon " " .Name | safeHTML }}
      <a class="nav-link" href="{{ .URL }}">{{ $text }}</a>
    {{ end }}
    </nav>s
</div> -->

<div class="bg-pink h-16 flex items-center">
  <div class="mx-auto container">
      <nav class="flex flex-row justify-between items-center font-bold">
        <div class="flex flex-row items-center">
          <a class="" href="/">
            <div class="bg-purple text-white px-4 text-xl font-bold h-20 mt-4 flex items-center">
              <p class="m-0">Python <br> Bénin</p>
            </div>
          </a>
          <a class="ml-10 text-white" href="/faq">FAQ</a>
          <a class="ml-10 text-white" href="/partners">Partenaires</a>
        </div>
        <div class="">
          <a class="ml-10 text-white bg-purple p-2 px-4" href="/propose-a-topic">Proposer un sujet</a>
          <a class="ml-10 text-white" href="#">EN</a>
        </div>  
      </nav>
  </div>
</div>