<!-- <div id="nav-border" class="container">
    <nav id="nav" class="nav justify-content-center">
    {{ range .Site.Menus.main }}
      {{ $icon := printf "<i data-feather=\"%s\"></i>" .Pre }}
      {{ $text := print $icon " " .Name | safeHTML }}
      <a class="nav-link" href="{{ .URL }}">{{ $text }}</a>
    {{ end }}
    </nav>
</div> -->

<div class="bg-pink-600 h-16 flex items-center">
  <div class="mx-auto container">
      <nav class="flex flex-row justify-between items-center font-bold">
        <div class="">
          <a class="bg-purple-500 text-white p-2 text-xl font-bold h-16" href="#">Python Bénin</a>
          <a class="ml-10 text-white" href="#">FAQ</a>
          <a class="ml-10 text-white" href="#">Partenaires</a>
        </div>
        <div class="">
          <a class="ml-10 text-white bg-purple-500 rounded p-2 px-4" href="#">Proposer un sujet</a>
          <a class="ml-10 text-white" href="#">EN ⇄ FR</a>
        </div>  
      </nav>
  </div>
</div>