<style>

  .button-primary {
    padding: 0.75rem 1rem;
    background-color: #5C038B;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    cursor: pointer;
  }

  .main-font {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }
  .secondary-font {
    font-family: 'Roboto Mono';
  }

  .bg-pink {
    background-color: #EA007B;
  }

  .bg-purple {
    background-color: #5C038B;
  }
  .text-pink {
    color: #EA007B;
  }

  .text-purple {
    color: #5C038B;
  }

  body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #EDEEF2;
  }
    .container {
      max-width: 980px;
      margin: 0 auto;
    }
    #nav a {
      font-weight: bold;
      color: inherit;
    }
    #nav-border {
      border-bottom: 1px solid #212529;
    }
    #main {
      margin-top: 1em;
      margin-bottom: 4em;
    }
    #home-jumbotron {
      background-color: inherit;
    }
    .font-125 {
      font-size: 125%;
    }
    .tag-btn {
      margin-bottom: 0.3em;
    }
    img {
      max-width: 100%;
    }
</style>